#import sickbeard
#import datetime
#from sickbeard.common import *
#from sickbeard import db,helpers

#set global $title="Home"
#set global $header="Show List"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#set $myDB = $db.DBConnection()
#set $today = str($datetime.date.today().toordinal())
#set $downloadedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.DOWNLOADED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $snatchedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $allEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE season != 0 and episode != 0 AND (airdate != 1 OR status IN ("+",".join([str(x) for x in ($Quality.DOWNLOADED + $Quality.SNATCHED + $Quality.SNATCHED_PROPER) + [$ARCHIVED]])+")) AND airdate <= "+$today+" AND status != "+str($IGNORED)+" GROUP BY showid")
#set $fr = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE audio_langs = 'fr' AND location != '' AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $layout = $sickbeard.HOME_LAYOUT
#set $search = $sickbeard.TOGGLE_SEARCH
#set $sort = $sickbeard.SORT_ARTICLE
#set $show_message=''
#set $listshow=myDB.select("SELECT tvdb_id from tv_shows")
#for show in $listshow:
	#set $showObj = helpers.findCertainShow(sickbeard.showList, show[0])
	#if $showObj:
		#if sickbeard.showQueueScheduler.action.isInUpdateQueue($showObj):
			#set $show_message = 'Objects are being refreshed. When finished, all images and imdb infos will be available. '
			#break
		#end if
	#end if
#end for
#for show in $listshow:
	#set $showObj = helpers.findCertainShow(sickbeard.showList, show[0])
	#if $showObj:
		#if sickbeard.showQueueScheduler.action.isBeingUpdated(showObj):
			#set $show_message += ' Current show being processed : '+ showObj.name
			#break
		#end if
	#end if
#end for
#if $show_message:
    <div id="show_message" class="ui-corner-all">$show_message</div>
#end if

<script type="text/javascript" charset="utf-8">
<!--

\$.tablesorter.addParser({
    id: 'loadingNames',
    is: function(s) {
        return false;
    },
    format: function(s) {
        if (s.indexOf('Loading...') == 0)
            return s.replace('Loading...','000');
        #if $sort != 1:  
        	return (s || '').replace(/^(The|A|An|Un|Une|Le|La|Les)\s/i,'');
       	#else:
       		return (s || '');
       	#end if
    },
    type: 'text'
});

\$.tablesorter.addParser({
    id: 'quality',
    is: function(s) {
        return false;
    },
    format: function(s) { 
        return s.replace('HD1080p',5).replace('HD720p',4).replace('HD',3).replace('SD',2).replace('Any',1).replace('Best',0).replace('Custom',7);
    },
    type: 'numeric'
});

\$.tablesorter.addParser({ 
    id: 'eps',
    is: function(s) {
        return false; 
    },
    format: function(s) {
        match = s.match(/^(.*)/);

        if (match == null || match[1] == "?")
            return -10;

        var nums = match[1].split(" / ");
        
        if (parseInt(nums[0]) === 0)
        	return parseInt(nums[1]);

        var finalNum = parseInt((nums[0]/nums[1])*1000)*100;
        if (finalNum > 0)
            finalNum += parseInt(nums[0]);

        return finalNum;
    },
    type: 'numeric'
});

\$(document).ready(function(){ 

    \$("img#network").on('error', function(){
    	\$(this).parent().text(\$(this).attr('alt'));
    	\$(this).remove();
    });

    \$("#showListTable:has(tbody tr)").tablesorter({
			#if $sickbeard.FRENCH_COLUMN:
				#if ($layout == 'poster'):
		        	sortList: [[7,1],[2,0]],
		       	#else:
		       		sortList: [[6,1],[1,0]],
		       	#end if
		    #else:
		    	#if ($layout == 'poster'):
		        	sortList: [[6,1],[2,0]],
		       	#else:
		       		sortList: [[5,1],[1,0]],
		       	#end if
		    #end if
	        textExtraction: {
	        #if $sickbeard.FRENCH_COLUMN:
		        #if ( $layout == 'poster'):
			        1: function(node) { return \$(node).find("img").attr("alt"); },
			        3: function(node) { return \$(node).find("img").attr("alt"); },
			        4: function(node) { return \$(node).find("span").text(); },
		            7: function(node) { return \$(node).find("img").attr("alt"); },	            
		            8: function(node) { return \$(node).find("img").attr("alt"); }
		        #else:
		        	#if ( $layout != 'simple'):
			        2: function(node) { return \$(node).find("img").attr("alt"); },
		        	#end if
		            3: function(node) { return \$(node).find("span").text(); },
		            6: function(node) { return \$(node).find("img").attr("alt"); },	            
		            7: function(node) { return \$(node).find("img").attr("alt"); }
		        #end if
		    #else:
		    	#if ( $layout == 'poster'):
			        1: function(node) { return \$(node).find("img").attr("alt"); },
			        3: function(node) { return \$(node).find("img").attr("alt"); },
			        4: function(node) { return \$(node).find("span").text(); },
		            6: function(node) { return \$(node).find("img").attr("alt"); },	            
		            7: function(node) { return \$(node).find("img").attr("alt"); }
		        #else:
		        	#if ( $layout != 'simple'):
			        2: function(node) { return \$(node).find("img").attr("alt"); },
		        	#end if
		            3: function(node) { return \$(node).find("span").text(); },
		            5: function(node) { return \$(node).find("img").attr("alt"); },	            
		            6: function(node) { return \$(node).find("img").attr("alt"); }
		        #end if
		    #end if
	        },
	        #if sickbeard.TOGGLE_SEARCH=='True':
	        widgets: ['zebra', 'stickyHeaders', 'filter'],
	        #else:
	        widgets: ['zebra', 'stickyHeaders'],	        
	        #end if
	        headers: {
	            0: {filter : false ,sorter: 'isoDate' },
	         #if $sickbeard.FRENCH_COLUMN:
		         #if ($layout == 'poster'):
		            1: {filter : false ,sorter: 'loadingNames'},
		            2: {sorter: 'loadingNames'},
		            3: { filter: false},
		            4: { filter : false ,sorter: 'quality' },
		            5: { filter : false ,sorter: 'eps' },
		            6: { filter : false ,sorter: 'eps' },
		            7: { filter: false},
		            8: { filter: false},
		            9: { filter: false},
		         #else:
		            1: {sorter: 'loadingNames'},
		            2: { filter: false},
		            3: { filter : false ,sorter: 'quality' },
		            4: { filter : false ,sorter: 'eps' },
		            5: { filter : false ,sorter: 'eps' },
		            6: { filter: false},
		            7: { filter: false},
		            8: { filter: false},
		          #end if
		      #else:
			      #if ($layout == 'poster'):
			            1: {filter : false ,sorter: 'loadingNames'},
			            2: {sorter: 'loadingNames'},
			            3: { filter: false},
			            4: { filter : false ,sorter: 'quality' },
			            5: { filter : false ,sorter: 'eps' },
			            6: { filter: false},
			            7: { filter: false},
			            8: { filter: false},
			         #else:
			            1: {sorter: 'loadingNames'},
			            2: { filter: false},
			            3: { filter : false ,sorter: 'quality' },
			            4: { filter : false ,sorter: 'eps' },
			            5: { filter: false},
			            6: { filter: false},
			            7: { filter: false},
			          #end if
		       #end if
		      
	        }
    });

});

//-->
</script>

#if $varExists('header') 
	<h1 class="headershow">$header</h1>
#else 
	<h1 class="titleshow">$title</h1>
#end if
<div id="HomeLayout" style="float: left; margin-top: -18px;">
#if sickbeard.TOGGLE_SEARCH=='True':
		<a class="btn btn-mini" href="$sbRoot/setHomeSearch/?search=False">
		<i class="icon-search icon-black"></i>Toggle search</a> 
		#else:
		<a class="btn btn-mini" href="$sbRoot/setHomeSearch/?search=True">
		<i class="icon-search icon-black"></i>Toggle search</a> 
		#end if	
</div>
<div id="HomeLayout" style="float: right; margin-top: -18px;">
	<span><b>Layout:</b>
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=poster" style="font-size: 12px;">Poster</a> &middot;
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=banner" style="font-size: 12px;">Banner</a> &middot;
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=simple" style="font-size: 12px;">Simple</a>		
	</span>
</div>

<table id="showListTable" class="sickbeardTable tablesorter" cellspacing="1" border="0" cellpadding="0">

  <thead><tr><th class="nowrap">Next Ep</th>#if $layout=="poster" then "<th>Poster</th>" else ""#<th>Show</th><th>Network</th><th>Quality</th><th>Downloads</th>#if $sickbeard.FRENCH_COLUMN then "<th>French Ep</th>" else ""#<th>Active</th><th>Audio</th><th>Status</th></tr></thead>
  <tfoot>
    <tr>
      <th rowspan="1" colspan="1" align="center"><a href="$sbRoot/home/addShows/">&nbsp Add Show</a></th>
      #if sickbeard.FRENCH_COLUMN:
      	#if ($layout == 'poster'):
      		<th rowspan="1" colspan="9"></th>
      	#else:
      		<th rowspan="1" colspan="8"></th>
      	#end if
     #else:
        #if ($layout == 'poster'):
      		<th rowspan="1" colspan="8"></th>
      	#else:
      		<th rowspan="1" colspan="7"></th>
      	#end if
      #end if
    </tr>
  </tfoot>
  <tbody>

#for $curLoadingShow in $sickbeard.showQueueScheduler.action.loadingShowList:

  #if $curLoadingShow.show != None and $curLoadingShow.show in $sickbeard.showList:
    #continue
  #end if

  <tr>
    <td align="center">(loading)</td>
    <td></td>
    <td>
    #if $curLoadingShow.show == None:
    Loading... ($curLoadingShow.show_name)
    #else:
    <a href="displayShow?show=$curLoadingShow.show.tvdbid">$curLoadingShow.show.name</a>
    #end if
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    #if $sickbeard.FRENCH_COLUMN:
    <td></td>
    #end if
    #if ($layout == 'poster'):
    <td></td>
    #end if
  </tr>
#end for

#set $myShowList = $list($sickbeard.showList)
$myShowList.sort(lambda x, y: cmp(x.name, y.name))
#for $curShow in $myShowList:
#set $curEp = $curShow.nextEpisode()

#set $curShowDownloads = [x[1] for x in $downloadedEps if int(x[0]) == $curShow.tvdbid]
#set $curShowSnatched = [x[1] for x in $snatchedEps if int(x[0]) == $curShow.tvdbid]
#set $curfr = [x[1] for x in $fr if int(x[0]) == $curShow.tvdbid]
#set $curShowAll = [x[1] for x in $allEps if int(x[0]) == $curShow.tvdbid]
#if len($curShowAll) != 0:
  #if len($curShowDownloads) != 0:
    #set $dlStat = str($curShowDownloads[0])+" / "+str($curShowAll[0])
    #set $nom = $curShowDownloads[0]
    #set $den = $curShowAll[0]
  #else
    #set $dlStat = "0 / "+str($curShowAll[0])
    #set $nom = 0
    #set $den = $curShowAll[0]
  #end if
#else
  #set $dlStat = "?"
  #set $nom = 0
  #set $den = 1
#end if
#if len($curShowDownloads) != 0:
  #if len($curfr) != 0:
    #set $frStat = str($curfr[0])+" / "+str($curShowDownloads[0])
    #set $nomfr = $curfr[0]
    #set $denfr = $curShowDownloads[0]
  #else
    #set $frStat = "0 / "+str($curShowDownloads[0])
    #set $nomfr = 0
    #set $denfr = $curShowDownloads[0]
  #end if
#else
  #set $frStat = "0 / 0"
  #set $nomfr = 0
  #set $denfr = 1
#end if

#if len($curShowSnatched) != 0:
    #set $nomSna = $curShowSnatched[0]
#else:
    #set $nomSna = 0
#end if

#set $which_thumb = $layout+"_thumb" 

  <tr>
    <td align="center" class="nowrap" style="color: #555555;font-weight:bold;">#if len($curEp) != 0 then $curEp[0].airdate else ""#</td>
    #if $layout == 'poster':
	    <td>
	    	<div class="imgHomeWrapper $layout">
		    	<a href="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$layout" rel="dialog" title="$curShow.name">
		    		<img src="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$which_thumb" class="$layout" alt="$curShow.name"/>
		    	</a>
	    	</div>
	    </td>
    	<td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
	#else if $layout == 'banner':
	    <td align="center">
	    	<span style="display: none;">$curShow.name</span>
	    	<div class="imgHomeWrapper imgHomeWrapperRounded $layout">
	    		<a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">
	    		<img src="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$layout" class="$layout" alt="$curShow.name" title="$curShow.name"/>
	    	</div>
	    </td>
	#else if $layout == 'simple':
	    <td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
    #end if
    <!--<td align="center">$curShow.network</td>//-->
    <td align="center" style="color: #555555;font-weight:bold;">
    #if $layout != 'simple':	
        #if $curShow.network:
        	<img id="network" width="60" height="30" src="$sbRoot/images/network/${curShow.network.lower()}.png" alt="$curShow.network" title="$curShow.network" />
    	#else:
    		<img id="network" width="60" height="30" src="$sbRoot/images/network/nonetwork.png" alt="No Network" title="No Network" />
		#end if
	#else:
		$curShow.network
	#end if		
    </td>
    
#if $curShow.quality in $qualityPresets:
    <td align="center"><span class="quality $qualityPresetStrings[$curShow.quality]">$qualityPresetStrings[$curShow.quality]</span></td>
#else:
    <td align="center"><span class="quality Custom">Custom</span></td>
#end if
    <td align="center"><span style="display: none;">$dlStat</span>

        <div class="progress" id="new_progressbar$curShow.tvdbid" style="position:relative;">
    		<div class="bar bar-success" ></div>
    		<div class="bar bar-warning" ></div>
    		<div class="bar bar-danger" ></div>
    	</div>
    	
    	<script type="text/javascript">
        <!--
            \$(function() {
                var progressBarWidthDL = (parseInt($nom) * 100) / parseInt($den) + "%"
               \$("\#new_progressbar$curShow.tvdbid > .bar-success").animate({ width: progressBarWidthDL }, 1000);
                var progressBarWidthSN = (parseInt($nomSna) * 100) / parseInt($den) + "%"
               \$("\#new_progressbar$curShow.tvdbid > .bar-warning").animate({ width: progressBarWidthSN }, 1000);
                var progressBarWidthNO = ((parseInt($den) - (parseInt($nomSna) + parseInt($nom))) * 100) / parseInt($den) + "%"
               \$("\#new_progressbar$curShow.tvdbid > .bar-danger").animate({ width: progressBarWidthNO }, 1000);
               \$("\#new_progressbar$curShow.tvdbid").append( "<div class='progressbarText'>$dlStat</div>" );
            });
        //-->
        </script>
    	
    </td>
    #if $sickbeard.FRENCH_COLUMN:
	<td align="center"><span style="display: none;">$frStat</span>
      
       <div class="progress" id="new_progressbar2$curShow.tvdbid" style="position:relative;">
            <div class="bar bar-success" ></div>
            <div class="bar bar-warning" ></div>
            <div class="bar bar-danger" ></div>
        </div>
        
        <script type="text/javascript">
        <!--
            \$(function() {
                var progressBarWidthDL = parseInt($nomfr) * 100 / parseInt($denfr) + "%"
               \$("\#new_progressbar2$curShow.tvdbid > .bar-success").animate({ width: progressBarWidthDL }, 1000);
                var progressBarWidthSN = "0%"
               \$("\#new_progressbar2$curShow.tvdbid > .bar-warning").animate({ width: progressBarWidthSN }, 1000);
                var progressBarWidthNO = (parseInt($denfr) - parseInt($nomfr)) * 100 / parseInt($denfr) + "%"
               \$("\#new_progressbar2$curShow.tvdbid > .bar-danger").animate({ width: progressBarWidthNO }, 1000);
               \$("\#new_progressbar2$curShow.tvdbid").append( "<div class='progressbarText'>$frStat</div>" )
            });
        //-->
        </script>
    #end if
        
    </td>
    <td align="center"><img src="$sbRoot/images/#if int($curShow.paused) == 0 and $curShow.status != "Ended" then "yes16.png\" alt=\"Y\"" else "no16.png\" alt=\"N\""# width="16" height="16" /></td>
    <td align="center">        
            <img src="$sbRoot/images/flags/${curShow.audio_lang}.png" alt="$curShow.audio_lang" width="16" />
    </td>
    <td align="center" style="color: #555555; font-weight: bold;">$curShow.status</td>
  </tr>


#end for
</tbody>
</table>

<script type="text/javascript" src="$sbRoot/js/tableClick.js?$sbPID"></script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
