#import sickbeard
#import datetime
#from sickbeard.common import *
#from sickbeard import db,helpers

#set global $title="Home"
#set global $header="Show List"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#set $myDB = $db.DBConnection()
#set $today = str($datetime.date.today().toordinal())
#set $downloadedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.DOWNLOADED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $snatchedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $wantedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.WANTED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $allEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE season != 0 and episode != 0 AND (airdate != 1 OR status IN ("+",".join([str(x) for x in ($Quality.DOWNLOADED + $Quality.SNATCHED + $Quality.SNATCHED_PROPER) + [$ARCHIVED]])+")) AND airdate <= "+$today+" AND status != "+str($IGNORED)+" GROUP BY showid")
#set $fr = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE audio_langs = 'fr' AND location != '' AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $subfr = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE audio_langs <> 'fr' AND subtitles like '%fr%' AND location != '' AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $layout = $sickbeard.HOME_LAYOUT
#set $search = $sickbeard.TOGGLE_SEARCH
#set $sort = $sickbeard.SORT_ARTICLE
#set $show_message=''
#set $listshow=myDB.select("SELECT tvdb_id from tv_shows")
#for show in $listshow:
	#set $showObj = helpers.findCertainShow(sickbeard.showList, show[0])
	#if $showObj:
		#if sickbeard.showQueueScheduler.action.isInUpdateQueue($showObj):
			#set $show_message = 'Objects are being refreshed.'
			#break
		#end if
	#end if
#end for
#for show in $listshow:
	#set $showObj = helpers.findCertainShow(sickbeard.showList, show[0])
	#if $showObj:
		#if sickbeard.showQueueScheduler.action.isBeingUpdated(showObj):
			#set $show_message += ' Current show being processed : '+ showObj.name
			#break
		#end if
	#end if
#end for
#if $show_message:
    <div id="show_message" class="ui-corner-all">$show_message</div>
#end if

<script type="text/javascript" charset="utf-8">
<!--
	

\$(document).ready(function(){ 


	
});

//-->
</script>
<div id="pcolch"></div>
#if $varExists('header') 
	<h1 class="headershow">$header</h1>
#else 
	<h1 class="titleshow">$title</h1>
#end if

<div style="float: left; margin-top: -18px;" id="HomeLayout">
	<a href="#" class="btn btn-mini" id="Search_btn">
		<i class="icon-search icon-black"></i>Toggle search
	</a> 
</div>

<div id="HomeLayout" style="float: right; margin-top: -18px;">
	<span><b>Layout:</b>
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=poster" style="font-size: 12px;">Poster</a> &middot;
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=banner" style="font-size: 12px;">Banner</a> &middot;
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=simple" style="font-size: 12px;">Simple</a>		
	</span>
</div>


#set $myShowList = $list($sickbeard.showList)
$myShowList.sort(lambda x, y: cmp(x.name, y.name))
<div style="clear:left;padding-top:5px;">
	<table id="EpisodeListe" class="stickyTable"></table>
</div>
<div id="EpisodeListePager"></div>
<script type="text/javascript">

function setPbDl(download, snatch, total){

	var pourcDownload = Math.round(((parseInt(download) * 100) / parseInt(total)));
	var pourcSnatched = Math.round(((parseInt(snatch) * 100) / parseInt(total)));

	var StringDL = "";
	var StringSn = "";

	if(pourcDownload < 1){
		StringDl = "000";
	}else if(pourcDownload < 10){
		StringDl = "00" + pourcDownload;
	}else if(pourcDownload < 100){
		StringDl = "0" + pourcDownload;
	}else{
		StringDl = "100";
	}

	if(pourcSnatched < 1){
		StringSn = "000";
	}else if(pourcSnatched < 10){
		StringSn = "00" + pourcSnatched;
	}else if(pourcSnatched < 100){
		StringSn = "0" + pourcSnatched;
	}else{
		StringSn = "100";
	}

	return StringDl + "" + StringSn;
}
function setPbFr(fr, st, total){
	return setPbDl(fr,st,total);
}

function createDownloadBar(tvID,download,snatched, wanted,total){

	var pourcDownload = (parseInt(download) * 100) / parseInt(total) +"%;";
	var pourcSnatched = (parseInt(snatched) * 100) / parseInt(total) +"%;";
	var pourcWanted   = (parseInt(wanted  ) * 100) / parseInt(total) +"%;";


	var AddStyleWarning = "";
	var AddStyleSuccess = "";
	var AddStyleError   = "";
	var txtDownload = "";
	
	
	if ((parseInt(snatched)+parseInt(wanted)) != 0) {
		AddStyleSuccess = "-moz-border-radius:10px 0px 0px 10px;-webkit-border-radius:10px 0px 0px 10px;border-radius:10px 0px 0px 10px;";
    }
	if (parseInt(download) != 0 && parseInt(wanted) != 0 ) {
		AddStyleWarning = "-moz-border-radius:0px 0px 0px 0px;-webkit-border-radius:0px 0px 0px 0px;border-radius:0px 0px 0px 0px;";
    }
	if (parseInt(download) != 0 && parseInt(wanted) == 0 ) {
			AddStyleWarning = "-moz-border-radius:0px 10px 10px 0px;-webkit-border-radius:0px 10px 10px 0px;border-radius:0px 10px 10px 0px;";
    }
	if (parseInt(download) == 0 && parseInt(wanted) != 0 ) {
			AddStyleWarning = "-moz-border-radius:10px 0px 0px 10px;-webkit-border-radius:10px 0px 0px 10px;border-radius:10px 0px 0px 10px;";
    }
	if ((parseInt(snatched)+parseInt(download)) != 0) {
		AddStyleError = "-moz-border-radius:0px 10px 10px 0px;-webkit-border-radius:0px 10px 10px 0px;border-radius:0px 10px 10px 0px;";
    }

	if (total != 0) {
		txtDownload = download +" / " + total;	
    }else{
    	txtDownload = "?";
    }
	


	return "<div class=\"progress ui-progressbar ui-widget-header qTip\" tvId=\"show_"+ tvID +"\" id=\"new_progressbar"+ tvID +"\" style=\"position:relative;\">" +
    	   "<div class=\"bar bar-success\" style=\"width:"+ pourcDownload +AddStyleSuccess+"\" ></div>"+
    		"<div class=\"bar bar-warning\" style=\"width:"+ pourcSnatched +AddStyleWarning+"\" ></div>"+
    		"<div class=\"bar bar-danger\" style=\"width:"+ pourcWanted +AddStyleError+"\" ></div>"+
    		"<div class=\"progressbarText\">" + txtDownload +"</div>"+
    	"</div>"+
    	"<div id=\"tipnew_progressbarshow_"+ tvID +"\" style=\"display:none\" >"+
    		"<div style=\"width:115px;\">"+
	    		"<div style=\"font-size:10px;\">"+
		    		"<div>"+
		    			"<span>Downloaded</span><span style=\"float:right;\"> "+ download +"</span>"+
		    		"</div>"+
		    		"<div>"+
		    			"<span>Snatched</span><span style=\"float:right;\"> "+ snatched +"</span>"+
		    		"</div>"+
		    		"<div>"+
		    			"<span>Wanted</span><span style=\"float:right;\"> "+ wanted +"</span>"+
		    		"</div>"+
		    		"<div>"+
		    			"<span>Total</span><span style=\"float:right;\"> "+ total +"</span>"+
		    		"</div>"+
				"</div>"+
    		"</div>"+
    	"</div>";
}


function createFRBar(tvID,audio,st,total){

	var pourcAudio = (parseInt(audio) * 100) / parseInt(total) +"%;";
	var pourcST = (parseInt(st) * 100) / parseInt(total) +"%;";


	var AddStyleWarning = "";
	var AddStyleSuccess = "";
	var AddStyleError   = "";
	if (pourcAudio != "0%"  && pourcST != "0%") {
		AddStyleWarning = "-moz-border-radius:0px 10px 10px 0px;-webkit-border-radius:0px 10px 10px 0px;border-radius:0px 10px 10px 0px;";
		AddStyleSuccess = "-moz-border-radius:10px 0px 0px 10px;-webkit-border-radius:10px 0px 0px 10px;border-radius:10px 0px 0px 10px;";
    }



	return "<div class=\"progress ui-progressbar ui-widget-header qTip\" tvId=\"lang_"+ tvID +"\" id=\"new_progressbar"+ tvID +"\" style=\"position:relative;\">" +
    	   "<div class=\"bar bar-success\" style=\"width:"+ pourcAudio +AddStyleSuccess+"\" ></div>"+
    		"<div class=\"bar bar-warning\" style=\"width:"+ pourcST +AddStyleWarning+"\" ></div>"+
    		"<div class=\"bar bar-danger\" style=\"width:"+ "0%;" +"\" ></div>"+
    		"<div class=\"progressbarText\">" + audio +" / " + total +"</div>"+
    	"</div>"+
    	"<div id=\"tipnew_progressbarlang_"+ tvID +"\" style=\"display:none\" >"+
    		"<div style=\"width:115px;\">"+
	    		"<div style=\"font-size:10px;\">"+
		    		"<div>"+
		    			"<span>Audio FR</span><span style=\"float:right;\"> "+ audio +"</span>"+
		    		"</div>"+
		    		"<div>"+
		    			"<span>Only Sub FR</span><span style=\"float:right;\"> "+ st +"</span>"+
		    		"</div>"+
		    		"<div>"+
		    			"<span>Total Downloaded</span><span style=\"float:right;\"> "+ total +"</span>"+
		    		"</div>"+
				"</div>"+
    		"</div>"+
    	"</div>";
}
#set $which_thumb = $layout+"_thumb"

function setLayout(imdb,name){

    if("$layout" == "simple"){
        return "<a href=\"displayShow?show="+imdb+"\" rel=\"dialog\" title=\""+name+"\">"+name+"</a>" ;
    }else if("$layout" == "banner"){
        return "<div class=\"imgHomeWrapper imgHomeWrapperRounded $layout\"><a href=\"displayShow?show="+imdb+"\" rel=\"dialog\" title=\""+name+"\"><img src=\"$sbRoot/showPoster/?show="+imdb+"&amp;which=$which_thumb\" class=\"$layout\" alt=\""+name+"\"/></a></div>" ;
    }else{
    	return "<div class=\"imgHomeWrapper imgHomeWrapperRounded $layout\"><a href=\"displayShow?show="+imdb+"\" rel=\"dialog\" title=\""+name+"\"><img src=\"$sbRoot/showPoster/?show="+imdb+"&amp;which=$which_thumb\" class=\"$layout\" alt=\""+name+"\"/></a></div>" ;
    }
}

	var dataTable = [
#for $curShow in $myShowList:

#set $curEp = $curShow.nextEpisode()
#set $curShowSubsfr = [x[1] for x in $subfr if int(x[0]) == $curShow.tvdbid]
#set $curShowDownloads = [x[1] for x in $downloadedEps if int(x[0]) == $curShow.tvdbid]
#set $curShowSnatched = [x[1] for x in $snatchedEps if int(x[0]) == $curShow.tvdbid]
#set $curShowWanted = [x[1] for x in $wantedEps if int(x[0]) == $curShow.tvdbid]
#set $curfr = [x[1] for x in $fr if int(x[0]) == $curShow.tvdbid]
#set $curShowAll = [x[1] for x in $allEps if int(x[0]) == $curShow.tvdbid]
 

#if len($curShowAll) != 0:
  #if len($curShowDownloads) != 0:
    #set $dlStat = str($curShowDownloads[0])+" / "+str($curShowAll[0])
    #set $nom = $curShowDownloads[0]
    #set $den = $curShowAll[0]
  #else
    #set $dlStat = "0 / "+str($curShowAll[0])
    #set $nom = 0
    #set $den = $curShowAll[0]
  #end if
#else
  #set $dlStat = "?"
  #set $nom = 0
  #set $den = 0
#end if

#if len($curShowDownloads) != 0:
  #if len($curfr) != 0:
    #set $frStat = str($curfr[0])+" / "+str($curShowDownloads[0])
    #set $nomfr = $curfr[0]
    #set $denfr = $curShowDownloads[0]
  #else
    #set $frStat = "0 / "+str($curShowDownloads[0])
    #set $nomfr = 0
    #set $denfr = $curShowDownloads[0]
  #end if
#else
  #set $frStat = "0 / 0"
  #set $nomfr = 0
  #set $denfr = 0
#end if

#if len($curShowSnatched) != 0:
    #set $nomSna = $curShowSnatched[0]
#else:
    #set $nomSna = 0
#end if
#if len($curShowWanted) != 0:
    #set $nomWan = $curShowWanted[0]
#else:
    #set $nomWan = 0
#end if

#if len($curShowSubsfr) != 0:
    #set $nomSub = $curShowSubsfr[0]
#else:
    #set $nomSub = 0
#end if

#set $airdate = ""
#if len($curEp) != 0 :
#set $airdate = curEp[0].airdate
#end if

#set $network = $curShow.network
#if $layout != 'simple':	
	#if $curShow.network:
		#set $network = "<img id='network' width='60' height='30' src='" + $sbRoot + "/images/network/" + $curShow.network.lower() + ".png' alt='" + $curShow.network + "' title='" + $curShow.network + "' />"
	#else:
		#set $network = "<img id='network' width='60' height='30' src='" + $sbRoot + "/images/network/nonetwork.png' alt='No Network' title='No Network' />"
	#end if
#end if	

#set $quality = "<span class='quality Custom'>Custom</span>"
#if $curShow.quality in $qualityPresets:
	#set $quality = "<span class='quality " + $qualityPresetStrings[$curShow.quality] +"'>" + $qualityPresetStrings[$curShow.quality] + "</span>"
#end if

#set $active = "<img src='" + $sbRoot + "/images/no16.png' alt='N' width='16' height='16' />"
#if int($curShow.paused) == 0 and $curShow.status != "Ended":
	#set $active = "<img src='" + $sbRoot + "/images/yes16.png' alt='Y' width='16' height='16' />"
#end if

	{
		nextep : "$airdate",
		imdb : $curShow.tvdbid,
		name : "$curShow.name",
		show : "$curShow.name",
		poster : "$curShow.name",
		network : "$network", 
		quality : "$quality", 
		download : "$denfr",
		snatched : "$nomSna",
		wanted : "$nomWan",
		total : "$den",
		fr : "$nomfr",
		subfr : "$nomSub",
		downloads : setPbDl($nom,$nomSna,$den), 
		frenchep : setPbFr($nomfr,$nomSub,$denfr), 
		active : "$active", 
		audio : "<img src=\"$sbRoot/images/flags/${curShow.audio_lang}.png\" alt=\"$curShow.audio_lang\" width=\"16\" />", 
		status : "$curShow.status"  		
	},
#end for

	];
	
	var grid = jQuery("#EpisodeListe").jqGrid(
						{ 
							datatype: "local", 
							altRows: true,
							altclass: 'odd',
							height: '100%',
							colNames:[
								'Next Ep',
								'imdb',
								'Download',
								'Snatched',
								'Wanted',
								'Total',
								'FR',
								'Sub FR',
								'Show',
								'Poster',
								'Name',
								'Network', 
								'Quality', 
								'Downloads',
								'French Ep',
								'Active',
								'Audio',
								'Status'], 
							colModel:
								[{name:'nextep',index:'nextep',align:"center",search:false},
								{name:'imdb',index:'imdb',hidden:true,align:"center",search:false},
								{name:'download',index:'download',hidden:true,align:"center",search:false},
								{name:'snatched',index:'snatched',hidden:true,align:"center",search:false},
								{name:'wanted',index:'wanted',hidden:true,align:"center",search:false},
								{name:'total',index:'total',hidden:true,align:"center",search:false},
								{name:'fr',index:'fr',hidden:true,align:"center",search:false},
								{name:'subfr',index:'subfr',hidden:true,align:"center",search:false},
								{name:'show',index:'show',width:350,align:"center",stype:"text",searchoptions:{sopt:['cn']},
									formatter:function (cellvalue, options,rowObject){
										return setLayout(rowObject.imdb,rowObject.name)
									}
								}, 
								{name:'poster',index:'poster',width:50,align:"center",stype:"text",search:false,
									formatter:function (cellvalue, options,rowObject){
										return setLayout(rowObject.imdb,rowObject.name)
									}
								}, 
								{name:'name',index:'name',width:300,hidden:true,align:"center",searchoptions:{sopt:['cn']},
									formatter:function (cellvalue, options,rowObject){
										return "<a class=\"tvShow\" href=\"/home/displayShow?show=" + rowObject.imdb + "\">" + rowObject.name + "</a>"
									}
								},
								{name:'network',index:'network', align:"center",sorttype:"text",stype:"text",search:false}, 
								{name:'quality',index:'quality', align:"center",search:false}, 
								{name:'downloads',index:'downloads', align:"right",sorttype:"int",align:"center",search:false,title:false,
									formatter:function(cellvalue,option,rowObject){
										return createDownloadBar(rowObject.imdb,rowObject.download,rowObject.snatched,rowObject.wanted,rowObject.total);
									}
								}, 
								{name:'frenchep',index:'frenchep', align:"right",sorttype:"int",align:"center",search:false,title:false,
									formatter:function(cellvalue,option,rowObject){
										return createFRBar(rowObject.imdb,rowObject.fr,rowObject.subfr,rowObject.download);
									}
								}, 
								{name:'active',index:'active', align:"right",align:"center",search:false}, 
								{name:'audio',index:'audio',  sortable:true,align:"center",search:false},
								{name:'status',index:'status', sortable:true,align:"center",search:false} ],
							autowidth: true,
							ignoreCase:true,
							rowNum:10000,
						});
							
	for(var i=0;i<=dataTable.length;i++){
		jQuery("#EpisodeListe").jqGrid('addRowData',i+1,dataTable[i]);
	}
			
	jQuery("#EpisodeListe").jqGrid('filterToolbar',{searchOnEnter : false,closeOnEscape: true,});
	\$("#Search_btn").click(function(){
		grid[0].clearToolbar();
		grid[0].toggleToolbar();
		
		if(\$(".ui-search-toolbar").attr("disp") == "yes"){
            \$(".ui-jqgrid-bdiv").css("padding-top","0px"); 
            \$(".ui-search-toolbar").attr("disp","no");
		}else{
            \$(".ui-jqgrid-bdiv").css("padding-top","35px"); 
            \$(".ui-search-toolbar").attr("disp","yes");
		}
		

	});
	grid[0].toggleToolbar();
	
#if ($sickbeard.FRENCH_COLUMN):
	jQuery("#EpisodeListe").jqGrid('showCol',["frenchep"]);
#else:
	jQuery("#EpisodeListe").jqGrid('hideCol',["frenchep"]);
#end if
	
#if ($layout == "poster"):
	jQuery("#EpisodeListe").jqGrid('showCol',["name"]);	
	jQuery("#EpisodeListe").jqGrid('showCol',["poster"]);
	jQuery("#EpisodeListe").jqGrid('hideCol',["show"]);
	
#else:
	jQuery("#EpisodeListe").jqGrid('hideCol',["name"]);
	jQuery("#EpisodeListe").jqGrid('hideCol',["poster"]);
	jQuery("#EpisodeListe").jqGrid('showCol',["show"]);
#end if
	
	UpdateTableHeaders();
	
	jQuery("#EpisodeListe").stickyTableHeaders();
	
	function saveGridToCookie(name) {
	
		var grid = jQuery("#" + name);
		var gridInfo = new Object();
		name = name + window.location.pathname;
		gridInfo.sortname = grid.jqGrid('getGridParam', 'sortname');
		gridInfo.sortorder = grid.jqGrid('getGridParam', 'sortorder');
		$.cookie(name, $.toJSON(gridInfo));
	}
	function loadGridFromCookie(name) {
		var c = $.cookie(name + window.location.pathname);
		if (c == null)
		return;
		var gridInfo = $.parseJSON(c);
		var grid = jQuery("#" + name);
		grid.jqGrid('setGridParam', { sortorder: gridInfo.sortorder });
		grid.sortGrid(gridInfo.sortname,true);
		grid.trigger("reloadGrid");
	}
	
	\$(window).unload(function() {
		saveGridToCookie("EpisodeListe");
	});
	
	loadGridFromCookie("EpisodeListe");
	
	
	\$(".qTip").each(function(){
		\$(this).qtip({
	   		content : \$("#tipnew_progressbar"+\$(this).attr("tvID")).html(),
	   		position : {
	   			at : "top center",
	   			my : "bottom center"
	   		},
	   		style : {
	   			classes : 'ui-tooltip-jtools',
	   			tip : {
	   				corner : false,
	   				width : 24
	   			}
	   		}
	   	});
	});
	
	
	
	
	function UpdateTableHeaders() {
	   \$(".ui-jqgrid.ui-widget.ui-widget-content").each(function() {
	   
	       var el             = \$(this),
	           offset         = el.offset(),
	           scrollTop      = \$(window).scrollTop(),
	           floatingHeader = \$(".floatingHeader", this)
	       
	       if ((scrollTop > offset.top) && (scrollTop < offset.top + el.height())) {
	           floatingHeader.css({
	            "visibility": "visible",
	            "top" : "0px",
	            "z-index" : "1000"
	           });
	       } else {
	           floatingHeader.css({
	           	"top" : offset.top - scrollTop + "px",
	            "visibility": "visible",
	            "z-index" : "2"
	           });      
	       };
	   });
	}

	// DOM Ready      
	\$(function() {
	
	   var clonedHeaderRow;
	
	   \$(".ui-jqgrid.ui-widget.ui-widget-content").each(function() {
	       clonedHeaderRow = \$(".ui-state-default.ui-jqgrid-hdiv", this);
	       clonedHeaderRow
	         .before(clonedHeaderRow.clone())
	         .css("width", clonedHeaderRow.width())
	         .addClass("floatingHeader");
	         
	   });
	   
	   \$(window)
	    .scroll(UpdateTableHeaders)
	    .trigger("scroll");
	   
	});
	
	
	window.onresize = function(event) {
        jQuery("#EpisodeListe").setGridWidth(\$("#gbox_" + "EpisodeListe").parent().width());
        
        
        \$(".ui-state-default.ui-jqgrid-hdiv").css("width",\$(".ui-state-default.ui-jqgrid-hdiv.floatingHeader").css("width"));
    }
	
</script>


<script type="text/javascript" src="$sbRoot/js/tableClick.js?$sbPID"></script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
