#import sickbeard
#import datetime
#from sickbeard.common import *
#from sickbeard import db,helpers

#set global $title="Home"
#set global $header="Show List"

#set global $sbPath = ".."

#set global $topmenu="home"#
#import os.path
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_top.tmpl")

#set $myDB = $db.DBConnection()
#set $today = str($datetime.date.today().toordinal())
#set $downloadedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.DOWNLOADED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $snatchedEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + [$ARCHIVED]])+") OR (status IN ("+",".join([str(x) for x in $Quality.SNATCHED + $Quality.SNATCHED_PROPER])+") AND location != '')) AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $allEps = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE season != 0 and episode != 0 AND (airdate != 1 OR status IN ("+",".join([str(x) for x in ($Quality.DOWNLOADED + $Quality.SNATCHED + $Quality.SNATCHED_PROPER) + [$ARCHIVED]])+")) AND airdate <= "+$today+" AND status != "+str($IGNORED)+" GROUP BY showid")
#set $fr = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE audio_langs = 'fr' AND location != '' AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $subfr = $myDB.select("SELECT showid, COUNT(*) FROM tv_episodes WHERE audio_langs <> 'fr' AND subtitles like '%fr%' AND location != '' AND season != 0 and episode != 0 AND airdate <= "+$today+" GROUP BY showid")
#set $layout = $sickbeard.HOME_LAYOUT
#set $search = $sickbeard.TOGGLE_SEARCH
#set $sort = $sickbeard.SORT_ARTICLE
#set $show_message=''
#set $listshow=myDB.select("SELECT tvdb_id from tv_shows")
#for show in $listshow:
	#set $showObj = helpers.findCertainShow(sickbeard.showList, show[0])
	#if $showObj:
		#if sickbeard.showQueueScheduler.action.isInUpdateQueue($showObj):
			#set $show_message = 'Objects are being refreshed.'
			#break
		#end if
	#end if
#end for
#for show in $listshow:
	#set $showObj = helpers.findCertainShow(sickbeard.showList, show[0])
	#if $showObj:
		#if sickbeard.showQueueScheduler.action.isBeingUpdated(showObj):
			#set $show_message += ' Current show being processed : '+ showObj.name
			#break
		#end if
	#end if
#end for
#if $show_message:
    <div id="show_message" class="ui-corner-all">$show_message</div>
#end if

<script type="text/javascript" charset="utf-8">
<!--

\$(document).ready(function(){ 

	/*
	var mygrid = tableToGrid("#showListTable");

	jQuery("#showListTable").jqGrid();
	jQuery("#showListTable").jqGrid('navGrid','#pcolch',{add:false,edit:false,del:false,search:false,refresh:false});
	jQuery("#showListTable").jqGrid('navButtonAdd',
		'#ptoolbar',
		{ caption: "Columns",
		  title: "Reorder Columns", 
		  onClickButton : function (){
		  	jQuery("#showListTable").jqGrid('columnChooser'); 
		  } 
		});
	jQuery("#showListTable").jqGrid('setGridHeight',"100%");
	jQuery("#showListTable").jqGrid('setGridWidth',"100%");
	jQuery("#showListTable").jqGrid('navGrid','#ptoolbar',{del:false,add:false,edit:false,search:false}); 
	jQuery("#showListTable").jqGrid('filterToolbar',{stringResult: true,searchOnEnter : false});
	*/
	
});

//-->
</script>
<div id="pcolch"></div>
#if $varExists('header') 
	<h1 class="headershow">$header</h1>
#else 
	<h1 class="titleshow">$title</h1>
#end if
<div id="HomeLayout" style="float: right; margin-top: -18px;">
	<span><b>Layout:</b>
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=poster" style="font-size: 12px;">Poster</a> &middot;
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=banner" style="font-size: 12px;">Banner</a> &middot;
		<a class="inner" href="$sbRoot/setHomeLayout/?layout=simple" style="font-size: 12px;">Simple</a>		
	</span>
</div>


#set $myShowList = $list($sickbeard.showList)
$myShowList.sort(lambda x, y: cmp(x.name, y.name))
<table id="EpisodeListe"></table>
<div id="EpisodeListePager"></div>
<script type="text/javascript">

function setPbDl(download, snatch, total){
	return download + " / " + snatch + " / " + total
}
function setPbFr(fr, st, total){
	return fr + " / " + st + " / " + total
}


	var dataTable = [
#for $curShow in $myShowList:

#set $curEp = $curShow.nextEpisode()
#set $curShowSubsfr = [x[1] for x in $subfr if int(x[0]) == $curShow.tvdbid]
#set $curShowDownloads = [x[1] for x in $downloadedEps if int(x[0]) == $curShow.tvdbid]
#set $curShowSnatched = [x[1] for x in $snatchedEps if int(x[0]) == $curShow.tvdbid]
#set $curfr = [x[1] for x in $fr if int(x[0]) == $curShow.tvdbid]
#set $curShowAll = [x[1] for x in $allEps if int(x[0]) == $curShow.tvdbid]
#set $which_thumb = $layout+"_thumb" 

#if len($curShowAll) != 0:
  #if len($curShowDownloads) != 0:
    #set $dlStat = str($curShowDownloads[0])+" / "+str($curShowAll[0])
    #set $nom = $curShowDownloads[0]
    #set $den = $curShowAll[0]
  #else
    #set $dlStat = "0 / "+str($curShowAll[0])
    #set $nom = 0
    #set $den = $curShowAll[0]
  #end if
#else
  #set $dlStat = "?"
  #set $nom = 0
  #set $den = 1
#end if
#if len($curShowDownloads) != 0:
  #if len($curfr) != 0:
    #set $frStat = str($curfr[0])+" / "+str($curShowDownloads[0])
    #set $nomfr = $curfr[0]
    #set $denfr = $curShowDownloads[0]
  #else
    #set $frStat = "0 / "+str($curShowDownloads[0])
    #set $nomfr = 0
    #set $denfr = $curShowDownloads[0]
  #end if
#else
  #set $frStat = "0 / 0"
  #set $nomfr = 0
  #set $denfr = 1
#end if

#if len($curShowSnatched) != 0:
    #set $nomSna = $curShowSnatched[0]
#else:
    #set $nomSna = 0
#end if
#if len($curShowSubsfr) != 0:
    #set $nomSub = $curShowSubsfr[0]
#else:
    #set $nomSub = 0
#end if

#set $airdate = ""
#if len($curEp) != 0 :
#set $airdate = curEp[0].airdate
#end if

#set $network = $curShow.network
#if $layout != 'simple':	
	#if $curShow.network:
		#set $network = "<img id='network' width='60' height='30' src='" + $sbRoot + "/images/network/" + $curShow.network.lower() + ".png' alt='" + $curShow.network + "' title='" + $curShow.network + "' />"
	#else:
		#set $network = "<img id='network' width='60' height='30' src='" + $sbRoot + "/images/network/nonetwork.png' alt='No Network' title='No Network' />"
	#end if
#end if	

#set $quality = "<span class='quality Custom'>Custom</span>"
#if $curShow.quality in $qualityPresets:
	#set $quality = "<span class='quality " + $qualityPresetStrings[$curShow.quality] +"'>" + $qualityPresetStrings[$curShow.quality] + "</span>"
#end if

#set $active = "<img src='" + $sbRoot + "/images/no16.png' alt='N' width='16' height='16' />"
#if int($curShow.paused) == 0 and $curShow.status != "Ended":
	#set $active = "<img src='" + $sbRoot + "/images/yes16.png' alt='Y' width='16' height='16' />"
#end if

	{
		nextep : "$airdate",
		show : 	"<div class=\"imgHomeWrapper imgHomeWrapperRounded $layout\"><a href=\"$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$layout\" rel=\"dialog\" title=\"$curShow.name\" search=\"$curShow.name.lower()\"><img src=\"$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$which_thumb\" class=\"$layout\" alt=\"$curShow.name\"/></a>",
		network : "$network", 
		quality : "$quality", 
		downloads : setPbDl($nom,$nomSna,$den), 
		frenchep : setPbFr($nomfr,$nomSub,$denfr), 
		active : "$active", 
		audio : "<img src=\"$sbRoot/images/flags/${curShow.audio_lang}.png\" alt=\"$curShow.audio_lang\" width=\"16\" />", 
		status : "$curShow.status"  		
	},
#end for

	];
	
	
	var grid = jQuery("#EpisodeListe").jqGrid(
							{ 
							datatype: "local", 
							height: '100%',
							colNames:[
								'Next Ep',
								'Show',
								'Network', 
								'Quality', 
								'Downloads',
								'French Ep',
								'Active',
								'Audio',
								'Status'], 
							colModel:
								[{name:'nextep',index:'nextep',width:86,align:"center",search:false},
								{name:'show',index:'show', width:317,align:"center",stype:"text",searchoptions:{sopt:['cn','is']}}, 
								{name:'network',index:'network', width:70,align:"center",sorttype:"text",stype:"text",search:false}, 
								{name:'quality',index:'quality', width:56,align:"center",search:false}, 
								{name:'downloads',index:'downloads', width:89, align:"right",sorttype:"int",align:"center",search:false}, 
								{name:'frenchep',index:'frenchep', width:89, align:"right",sorttype:"int",align:"center",search:false}, 
								{name:'active',index:'active', width:51,align:"right",align:"center",search:false}, 
								{name:'audio',index:'audio', width:47, sortable:false,align:"center",search:false},
								{name:'status',index:'status', width:89, sortable:false,align:"center",search:false} ],
							autowidth: true,
							});
							
	for(var i=0;i<=dataTable.length;i++) 
		jQuery("#EpisodeListe").jqGrid('addRowData',i+1,dataTable[i]);
		
	jQuery("#EpisodeListe").jqGrid('filterToolbar',{searchOnEnter : false});	
	\$("#jqgh_EpisodeListe_show").append("<span id=\"toggleSearchIn\" style=\"margin-left:20px;width:16px;height:16px;\"><img src=\"$sbRoot/images/info.png\" style=\"width:16px;height:16px;\" /></span>");
	\$("#toggleSearchIn").click(function(){
		grid[0].toggleToolbar()
	});
	
</script>

<table id="showListTable" class="sickbeardTable" cellspacing="1" border="0" cellpadding="0">

  <thead class="tablesorter-header">
  	<tr>
  		<th class="nowrap">Next Ep</th>
  		#if $layout=="poster" then "<th>Poster</th>" else ""#<th>Show</th>
  		<th>Network</th>
  		<th>Quality</th>
  		<th>Downloads</th>
  		<th>French Ep</th>
  		<th>Active</th>
  		<th>Audio</th>
  		<th>Status</th>
  	</tr>
  </thead>
  <tbody>


	
#for $curLoadingShow in $sickbeard.showQueueScheduler.action.loadingShowList:

  #if $curLoadingShow.show != None and $curLoadingShow.show in $sickbeard.showList:
    #continue
  #end if

  <tr>
    <td align="center">(loading)</td>
    <td></td>
    <td>
    #if $curLoadingShow.show == None:
    Loading... ($curLoadingShow.show_name)
    #else:
    <a href="displayShow?show=$curLoadingShow.show.tvdbid">$curLoadingShow.show.name</a>
    #end if
    </td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    #if ($layout == 'poster'):
    <td></td>
    #end if
  </tr>
#end for

#if 0==1:
#for $curShow in $myShowList:
#set $curEp = $curShow.nextEpisode()
#set $curShowSubsfr = [x[1] for x in $subfr if int(x[0]) == $curShow.tvdbid]
#set $curShowDownloads = [x[1] for x in $downloadedEps if int(x[0]) == $curShow.tvdbid]
#set $curShowSnatched = [x[1] for x in $snatchedEps if int(x[0]) == $curShow.tvdbid]
#set $curfr = [x[1] for x in $fr if int(x[0]) == $curShow.tvdbid]
#set $curShowAll = [x[1] for x in $allEps if int(x[0]) == $curShow.tvdbid]
#if len($curShowAll) != 0:
  #if len($curShowDownloads) != 0:
    #set $dlStat = str($curShowDownloads[0])+" / "+str($curShowAll[0])
    #set $nom = $curShowDownloads[0]
    #set $den = $curShowAll[0]
  #else
    #set $dlStat = "0 / "+str($curShowAll[0])
    #set $nom = 0
    #set $den = $curShowAll[0]
  #end if
#else
  #set $dlStat = "?"
  #set $nom = 0
  #set $den = 1
#end if
#if len($curShowDownloads) != 0:
  #if len($curfr) != 0:
    #set $frStat = str($curfr[0])+" / "+str($curShowDownloads[0])
    #set $nomfr = $curfr[0]
    #set $denfr = $curShowDownloads[0]
  #else
    #set $frStat = "0 / "+str($curShowDownloads[0])
    #set $nomfr = 0
    #set $denfr = $curShowDownloads[0]
  #end if
#else
  #set $frStat = "0 / 0"
  #set $nomfr = 0
  #set $denfr = 1
#end if

#if len($curShowSnatched) != 0:
    #set $nomSna = $curShowSnatched[0]
#else:
    #set $nomSna = 0
#end if
#if len($curShowSubsfr) != 0:
    #set $nomSub = $curShowSubsfr[0]
#else:
    #set $nomSub = 0
#end if
#set $which_thumb = $layout+"_thumb" 

  <tr>
    <td align="center" class="nowrap" style="color: #555555;font-weight:bold;">#if len($curEp) != 0 then $curEp[0].airdate else ""#</td>
    #if $layout == 'poster':
	    <td>
	    	<div class="imgHomeWrapper $layout">
		    	<a href="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$layout" rel="dialog" title="$curShow.name">
		    		<img src="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$which_thumb" class="$layout" alt="$curShow.name"/>
		    	</a>
	    	</div>
	    </td>
    	<td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
	#else if $layout == 'banner':
	    <td align="center">
	    	<span style="display: none;">$curShow.name</span>
	    	<div class="imgHomeWrapper imgHomeWrapperRounded $layout">
	    		<a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">
	    			<img src="$sbRoot/showPoster/?show=$curShow.tvdbid&amp;which=$layout" class="$layout" alt="$curShow.name" title="$curShow.name"/>
	    		</a>
	    	</div>
	    </td>
	#else if $layout == 'simple':
	    <td class="tvShow"><a href="$sbRoot/home/displayShow?show=$curShow.tvdbid">$curShow.name</a></td>
    #end if
    <!--<td align="center">$curShow.network</td>//-->
    <td align="center" style="color: #555555;font-weight:bold;">
    #if $layout != 'simple':	
        #if $curShow.network:
        	<img id="network" width="60" height="30" src="$sbRoot/images/network/${curShow.network.lower()}.png" alt="$curShow.network" title="$curShow.network" />
    	#else:
    		<img id="network" width="60" height="30" src="$sbRoot/images/network/nonetwork.png" alt="No Network" title="No Network" />
		#end if
	#else:
		$curShow.network
	#end if		
    </td>
    
#if $curShow.quality in $qualityPresets:
    <td align="center"><span class="quality $qualityPresetStrings[$curShow.quality]">$qualityPresetStrings[$curShow.quality]</span></td>
#else:
    <td align="center"><span class="quality Custom">Custom</span></td>
#end if
    <td align="center"><span style="display: none;">$dlStat</span>

        <div class="progress ui-progressbar ui-widget-header" id="new_progressbar$curShow.tvdbid" style="position:relative;">
    		<div class="bar bar-success" ></div>
    		<div class="bar bar-warning" ></div>
    		<div class="bar bar-danger" ></div>
    	</div>
    	
    	<div id="tipnew_progressbar$curShow.tvdbid" style="display:none">
    		<div style="width:115px;">
	    		<div style="font-size:10px;">
		    		<div>
		    			<span>Downloaded</span><span style="float:right;"> $nom</span>
		    		</div>
		    		<div>
		    			<span>Snatched</span><span style="float:right;"> $nomSna</span>
		    		</div>
		    		<div>
		    			<span>Total</span><span style="float:right;"> $den</span>
		    		</div>
				</div>
    		</div>
    	</div>
    	
    	<script type="text/javascript">
        <!--
            \$(function() {
                var progressBarWidthDL = (parseInt($nom) * 100) / parseInt($den) + "%"
               \$("\#new_progressbar$curShow.tvdbid > .bar-success").animate({ width: progressBarWidthDL }, 1000);
                var progressBarWidthSN = (parseInt($nomSna) * 100) / parseInt($den) + "%"
               \$("\#new_progressbar$curShow.tvdbid > .bar-warning").animate({ width: progressBarWidthSN }, 1000);
                var progressBarWidthNO = "0%"
               \$("\#new_progressbar$curShow.tvdbid > .bar-danger").animate({ width: progressBarWidthNO }, 1000);
               \$("\#new_progressbar$curShow.tvdbid").append( "<div class='progressbarText'>$dlStat</div>" );
               
                if (progressBarWidthDL != "0%"  && progressBarWidthSN != "0%") {
                	\$("\#new_progressbar$curShow.tvdbid > .bar-warning").css("-moz-border-radius" , "0px 10px 10px 0px");
                	\$("\#new_progressbar$curShow.tvdbid > .bar-warning").css("-webkit-border-radius","0px 10px 10px 0px");
                	\$("\#new_progressbar$curShow.tvdbid > .bar-warning").css("border-radius","0px 10px 10px 0px");
                	\$("\#new_progressbar$curShow.tvdbid > .bar-success").css("-moz-border-radius" , "10px 0px 0px 10px");
                	\$("\#new_progressbar$curShow.tvdbid > .bar-success").css("-webkit-border-radius","10px 0px 0px 10px");
                	\$("\#new_progressbar$curShow.tvdbid > .bar-success").css("border-radius","10px 0px 0px 10px");
                }
               
               
               \$("\#new_progressbar$curShow.tvdbid").qtip({
               		content : \$("\#tipnew_progressbar$curShow.tvdbid").html(),
               		position : {
               			at : "top center",
               			my : "bottom center"
               		},
               		style : {
               			classes : 'ui-tooltip-jtools',
               			tip : {
               				corner : false,
               				width : 24
               			}
               		}
               	});
               		
            });
        //-->
        </script>
    	
    </td>

	<td align="center"><span style="display: none;">$frStat</span>
      
       <div class="progress ui-progressbar ui-widget-header" id="new_progressbar2$curShow.tvdbid" style="position:relative;">
            <div class="bar bar-success" ></div>
            <div class="bar bar-warning" ></div>
            <div class="bar bar-danger" ></div>
        </div>
        <div id="tipnew_progressbar2$curShow.tvdbid" style="display:none">
    		<div style="width:115px;">

	    		<div style="font-size:10px;">
		    		<div>
		    			<span>Audio FR</span><span style="float:right;"> $nomfr</span>
		    		</div>
		    		<div>
		    			<span>Only Sub FR</span><span style="float:right;"> $nomSub</span>
		    		</div>
		    		<div>
		    			<span>Total Downloaded</span><span style="float:right;"> $denfr</span>
		    		</div>
				</div>
    		</div>
    	</div>
    	
        <script type="text/javascript">
        <!--
            \$(function() {
                var progressBarWidthDL = parseInt($nomfr) * 100 / parseInt($denfr) + "%"
               \$("\#new_progressbar2$curShow.tvdbid > .bar-success").animate({ width: progressBarWidthDL }, 1000);
                var progressBarWidthSub = (parseInt($nomSub) * 100) / parseInt($den) + "%"
                
               \$("\#new_progressbar2$curShow.tvdbid > .bar-warning").animate({ width: progressBarWidthSub }, 1000);
                var progressBarWidthNO = "0%"
               \$("\#new_progressbar2$curShow.tvdbid > .bar-danger").animate({ width: progressBarWidthNO }, 1000);
               \$("\#new_progressbar2$curShow.tvdbid").append( "<div class='progressbarText'>$frStat</div>" );
               
               if (progressBarWidthDL != "0%"  && progressBarWidthSub != "0%") {
                	\$("\#new_progressbar2$curShow.tvdbid > .bar-warning").css("-moz-border-radius" , "0px 10px 10px 0px");
                	\$("\#new_progressbar2$curShow.tvdbid > .bar-warning").css("-webkit-border-radius","0px 10px 10px 0px");
                	\$("\#new_progressbar2$curShow.tvdbid > .bar-warning").css("border-radius","0px 10px 10px 0px");
                	\$("\#new_progressbar2$curShow.tvdbid > .bar-success").css("-moz-border-radius" , "10px 0px 0px 10px");
                	\$("\#new_progressbar2$curShow.tvdbid > .bar-success").css("-webkit-border-radius","10px 0px 0px 10px");
                	\$("\#new_progressbar2$curShow.tvdbid > .bar-success").css("border-radius","10px 0px 0px 10px");
                }
               
               \$("\#new_progressbar2$curShow.tvdbid").qtip({
               		content : \$("\#tipnew_progressbar2$curShow.tvdbid").html(),
               		position : {
               			at : "top center",
               			my : "bottom center"
               		},
               		style : {
               			classes : 'ui-tooltip-jtools',
               			tip : {
               				corner : false,
               				width : 24
               			}
               		}
               	});
            });
        //-->
        </script>
    </td>
        
    
    <td align="center"><img src="$sbRoot/images/#if int($curShow.paused) == 0 and $curShow.status != "Ended" then "yes16.png\" alt=\"Y\"" else "no16.png\" alt=\"N\""# width="16" height="16" /></td>
    <td align="center">        
            <img src="$sbRoot/images/flags/${curShow.audio_lang}.png" alt="$curShow.audio_lang" width="16" />
    </td>
    <td align="center" style="color: #555555; font-weight: bold;">$curShow.status</td>
  </tr>


#end for
#end if
</tbody>
</table>
<div id="ptoolbar" ></div>

<script type="text/javascript" src="$sbRoot/js/tableClick.js?$sbPID"></script>
#include $os.path.join($sickbeard.PROG_DIR, "data/interfaces/default/inc_bottom.tmpl")
